.section-descriptions{
    margin-top: 115px;
    margin-bottom: 115px;
}

.section-descriptions__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.services-section{
    margin-bottom: 115px;
}

.services-section__list{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.services-section__list-item{
    display: flex;
    gap: 32px;
}

.services-section__item-decor {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #B66429
}

.services-section__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.services-section__item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 68px 60px;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #B66429;
}

.purchase{
    display: flex;
    gap: 20px;
}

.purchase__price {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 11px 20px;
}

.purchase__button {
    background-color: #B66429;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 11px 20px;
    text-decoration: none;
}

.transformations {
  margin-top: 50px;
}

.transformations__slider {
  position: relative;
}

.transformations__pair {
  display: flex;
  gap: 32px;
}

.transformations__item {
  position: relative;
  flex: 1;
  height: 400px;
}

.transformations__item img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}

.transformations__label {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c87325;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 11px 20px;
}

.transformations__label--after{
    background-color: #4E824B;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.transformations__prev,
.transformations__next {
  position: static !important;
  transform: none;
  color: #B66429 !important;
}

@media (max-width: 767px) {
  .transformations__pair {
    flex-direction: column;
    gap: 16px;
  }
  
  .transformations__item {
    height: 250px;
  }
  
  .transformations__item img {
    height: 100%;
    object-fit: cover;
  }
  
  .slider-navigation {
    position: relative;
    z-index: 10;
    margin-top: 30px;
  }
}

.design-steps-section{
  margin-top: 115px;
  margin-bottom: 115px;
}

.tools-section__title{
  font-size: 48px;
  font-weight: var(--font-weight-medium);
  color: var(--color-accent);
  max-width: 724px;
  margin-bottom: 30px;
}

.tools-section__subtitle{
  font-size: 24px;
  font-weight: var(--font-weight-regular);
  max-width: 724px;
  margin-bottom: 50px;
}

.tools-section__cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.tools-section__card {
  display: flex;
  flex-direction: column;
  height: auto;
  background: #fffaf5;
  border: 1px solid #B66429;
  border-radius: 10px;
  padding: 60px 100px 60px 60px;
  justify-content: space-between;
  gap: 40px;
}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-outline {
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  padding: 11px 20px;
  border-radius: 15px;
  font-size: clamp(13px, 2vw, 22px);
  font-weight: var(--font-weight-regular);
}

.btn-primary {
  text-decoration: none;
  border: none;
  background: #B66429;
  color: #fff;
  padding: 11px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: clamp(13px, 2vw, 22px);
  font-weight: var(--font-weight-regular);
}

.btn-primary:hover {
  background: #B66429;
}

@media (max-width: 1024px) {
  .services-section__list{
    gap: 60px;
  }
  .services-section__list-item{
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .services-section__item-content{
    padding: 25px 20px;
  }

  .tools-section__title{
    font-size: 24px;
    margin-bottom: 20px;
  }

  .tools-section__subtitle{
    font-size: 16px;
    margin-bottom: 30px;
  }

  .tools-section__card {
    height: auto;
    padding: 25px 20px;
  }

  .section-descriptions__list{
    grid-template-columns: 1fr;
  }

  .tools-section__cards{
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .purchase{
    flex-direction: column;
    gap: 10px;
  }
}